{% extends 'default/base.html.twig' %}
{% block body %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

    <div class="col-md-3" style="border: 1px solid; margin-left: 37%; margin-right: 37%; margin-top: 5%">
        <div>
            <label class="col-md-12" style="text-align: center">Kas Tu Esi?</label>
        </div>
        <div>
            {{ form_start(form) }}
            <label class="col-md-12" style="text-align: center">{{ form_widget(form.senjoras) }}</label>
            <label class="col-md-12" style="text-align: center">{{ form_widget(form.jaunuolis) }}</label>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}