{% extends 'default/base.html.twig' %}
{% block body %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    <div class="col-md-3" style="border: 1px solid; margin-left: 37%; margin-right: 37%; margin-top: 5%">
        <div>
            <label class="col-md-12" style="text-align: center">Kas Tu Esi?</label>
        </div>
        <div>
            {{ form_start(form) }}
                <label class="col-md-12">

                    <a class="btn btn-default btn-block" href="#" role="button"> {{ form_widget(form.category) }}</a></label>
            {{ form_widget(form.submit) }}
            {{ form_widget(form.senjoras) }}
            {{ form_widget(form.jaunuolis) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}