{% extends 'default/base.html.twig' %}
{% block body %}
    <div class="col-md-4" style="border: 1px solid; margin-left: 37%; margin-right: 37%; margin-top: 5%">
        <div>
            <label class="col-md-12" style="text-align: center">Mano paskyra</label>
        </div>
        <div>
            <label class="col-md-3"><img src={{ image }}  class="img-responsive"></label>
            <label class="col-md-9">{{ name_surname }}</label>
            <label class="col-md-9">{{ email }}</label>
            <label class="col-md-9"><a href="/mano_paskyra/redaguoti">Redaguoti</a></label>
        </div>
        <div>
            <label class="col-md-12">Aš galiu išmokyti:</label>
            {% for value in can_teach %}
                <label class="col-md-12">{{ value.parent_id.category }}  <a href="/delete/parent_kategorija/{{ value.parent_id.parent }}">Ištrinti</a></label>
            {% endfor %}
        </div>
        <div>
            <label class="col-md-12"><a href="/galiu_ismokyti">Pridėti naują gebėjimą</a></label>
            <label class="col-md-12"><a href="/ko_nori_ismokti">Noriu išmokti naują dalyką</a></label>
        </div>
    </div>
{% endblock %}