{% extends 'default/base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}

    <div class="col-md-3" style="border: 1px solid; margin-left: 37%; margin-right: 37%; margin-top: 5%">
        <div>
            <label class="col-md-12" style="text-align: center">Registracija</label>
            <label class="col-md-12" style="text-align: center">Registruotis su Facebook</label>
            <label class="col-md-12" style="text-align: center"> <a href={{ hwi_oauth_login_url('facebook') }}>Registruotis su Facebook</a></label>

            <label class="col-md-12" style="text-align: center">- arba -</label>
        </div>
        {{ form_start(form) }}

        <div class="form-group">
            <label class="col-md-12">{{ form_label(form.username) }}</label>
            <label class="col-md-12">{{ form_widget(form.username) }}</label>
            {{ form_errors(form.username) }}
        </div>
        <div class="form-group">
            <label class="col-md-12">{{ form_label(form.phone_number) }}</label>
            <label class="col-md-12">{{ form_widget(form.phone_number) }}</label>
        </div>
        <div class="form-group">
            <label class="col-md-12">{{ form_label(form.email) }}</label>
            <label class="col-md-12">{{ form_widget(form.email) }}</label>
            {{ form_errors(form.email) }}
        </div>
        <div class="form-group">
            <label class="col-md-12">{{ form_label(form.password.first) }}</label>
            {{ form_errors(form.password.first) }}
            <label class="col-md-12">{{ form_widget(form.password.first) }}</label>
            <label class="col-md-12">{{ form_label(form.password.second) }}</label>
            {{ form_errors(form.password.second) }}
            <label class="col-md-12">{{ form_widget(form.password.second) }}</label>
        </div>
        <div>
            <label class="col-md-12" >{{ form_widget(form.submit) }}</label>
        </div>
        <div style="display: none">
            {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}