<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }}>
            <link rel="stylesheet" href={{ asset('css/navbar-fixed-side.css')}}>

            <!-- Optional theme -->
            <link rel="stylesheet" href={{ asset('css/bootstrap-theme.min.css') }}>
            <link rel="stylesheet" href={{ asset('css/customCss.css') }}>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Laba-Karta</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Į pradžią</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Visi Puslapiai <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/kas_tu_esi">Kas tu esi(prisijungus)</a></li>
                            <li><a href="/ko_nori_ismokti">Ko nori ismokti(prisijungus)</a></li>
                            <li><a href="/mano_paskyra">Mano paskyra(prisijungus)</a></li>
                            <li><a href="/zinutes">Žinutės(prisijungus,nebaigta)</a></li>
                            <li><a href="/3">Admino kategorijos(nebaigta)</a></li>
                            <li><a href="/1">Admin puse User Edit(nebaigta)</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Apie projektą</a></li>
                    <li><a href="#">Kaip naudotis</a></li>
                    <li><a href="#">Apie mus</a></li>
                    <li><a href="#">Kontaktai</a></li>
                    <li><a href={{ path('fos_user_security_login') }}>Prisijungti</a></li>
                    <li><a href={{ path('registracija') }}>Registruotis</a></li>
                    <li><a href={{ path('logout') }}>Atsijungti</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
        {% block body %}{% endblock %}
    {% block fos_user_content %}{% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src={{ asset('js/bootstrap.min.js') }}></script>
        {% endblock %}
    </body>
</html>
